<h2>Criar usuario</h2>

<div>
  <label>Nome:
    <input placeholder="Insira o nome" [(ngModel)]="request.name">
  </label>
  <br><br>
  <label>Profissao:
    <input placeholder="Insira a profissao" [(ngModel)]="request.job">
  </label>
  <br><br>
  <button (click)="save()">Gravar</button>
</div>

<br><br>
<div *ngIf="response">
  <h3>Criado com sucesso!</h3>
  <label>Nome: {{response.name}}</label><br>
  <label>Profissao: {{response.job}}</label><br>
  <label>Id: {{response.id}}</label><br>
  <label>Criado em: {{response.createdAt}}</label>
</div>
